replicaCount: 1

image:
  #Use your ECR or Docker Hub image
  repository: myrepo/illuminati-email-service-example
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  port: 80
  targetPort: 8080

smtp:
  host: smtp.gmail.com
  port: "587" 
  # Use your gmail accsess credentials
  user: example@gmail.com
  password: "app-password-example"
  from: example@gmail.com

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPU: 70